.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--color-border);
}

.table th {
  background-color: var(--color-border);
  color: white;
  padding: 0.5rem;
  border: 1px solid var(--color-border);
}

.table td {
  padding: 0.5rem;
  border: 1px solid var(--color-border);
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}
